<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/radialStyle.css" %}">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static "js/radialProgress.js" %}"></script>
    <title>Agility Project Management</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'index' %}>Agility</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li><a href={% url 'index' %}>Home</a></li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Create New  
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href={% url 'create_project' %}>New Project</a></li>
                        <li><a href={% url 'create_sprint' %}>New Sprint</a></li>
                        <li><a href={% url 'create_task' %}>New Task</a></li>
                    </ul>
                </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class = "container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class = "container">
            <div id="navbar" class="pull-right navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li><a href={% url 'logout' %}>Logout</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</html>