{% extends "agility/base.html" %}

{% block content %}
<div class="container">
	<h1 class="text-center"> Sprint Analytics </h1>
	<div class="row">
		<div class="col-md-4" id="complete"></div>
		<div class="col-md-4" id="incomplete"></div>
		<div class="col-md-4" id="user_portion"></div>
	</div>
</div>

<script language="JavaScript">
    start();

    function start() {
        var rp1 = radialProgress(document.getElementById('complete'))
                .label("Completed Tasks")
                .diameter(150)
                .value({{num_comp_tasks}})
                .render();
        var rp2 = radialProgress(document.getElementById('incomplete'))
                .label("Incomplete Tasks")
                .diameter(150)
                .value({{num_incomp_tasks}})
                .render();
        var rp3 = radialProgress(document.getElementById('user_portion'))
                .label("User's Share of Tasks")
                .diameter(150)
                .value({{num_user_tasks}})
                .render();
	}
</script>
{% endblock %}