{% extends "agility/base.html" %}

{% block content %}
<div class="container">
	{% for message in messages %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
	{% endfor %}
	<h1>View Task</h1>
	<div class="panel panel-default">
		<div class="panel-heading">{{task.name}}</div>
		<div class="panel-body">
			<p>Description: {{task.description}}</p>
			<p>Hours Spent: {{task.hours_spent}}</p>
			<p>Difficulty: {{task.difficulty}}</p>
			{% if task.github_link %}
			<a href={{task.github_link}}>Link to GitHub Branch</a>
			{% endif %}
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6">
					<form method="get" action={% url 'edit_task' task.id %}>
						<button class="btn btn-sm btn-primary" type="submit">
							Edit Task
						</button>
					</form>
				</div>
				<div class="col-md-6">
					<div class="pull-right">
						<form method="get" action={% url 'delete_task' task.id %}>
							<button class="btn btn-sm btn-danger" type="submit">
								Delete Task
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
		    <form enctype="multipart/form-data" method="post" action="{% url 'add_comment' task.id %}" id="add_comment">
		        <table>
		            {{form}}
		        </table>
		        {% csrf_token %}
		    </form>
		</div>
		<div class="col-md-6">
		    <div class="pull-right">
	    		<button class="btn btn-default" type="submit" form="add_comment" value="Submit">Add Comment</button>
			</div>
		</div>
	</div>
	{% if comments %}
	<hr>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<h2>Comments</h2>
		    {% for comment in comments %}
		    <div class="panel panel-default">
		    	<div class="panel-body">
		    		{{comment.text}}
		    	</div>
		    	<div class="panel-footer">
		    		<div class="row">
		    			<div class="col-md-3">
		    		{% if request.user == comment.user %}
		    		<form method="get" action={% url 'delete_comment' comment.id %}>
						<button class="btn btn-xs btn-danger" type="submit">
							Delete
						</button>
					</form>
					{% endif %}
						</div>
						<div class="col-md-9">
		    		<p class="text-right">
		    		Posted on: {{comment.date_time}} by {{comment.user.username}}
		    		</p>
		    	</div>
		    </div>
		    	</div>
		    </div>
		    {% endfor %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}