{% extends "agility/base.html" %}

{% block content %}
<div class="container">
	<h1>View Sprint</h1>
	<div class="panel panel-default">
		<div class="panel-heading">{{sprint.project.name}} Sprint
			<div class="pull-right">
				<form method="get" action={% url 'create_task' %}>
					<button class="btn btn-xs btn-success" type="submit">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Task
					</button>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<p>Starting: {{sprint.start_date}}, ending: {{sprint.end_date}}</p>
					<p>Sprint Participants:</p>
					<ul>
					{% for u in users %}
						<li><a href={% url 'profile' u.id %} >{{u.username}}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% if curr_date > sprint.end_date %}
				<div class="col-md-6">
					<div class="pull-right">
						<form method="get" action={% url 'sprint_analytics' sprint.id %}>
							<button class="btn btn-sm btn-primary" type="submit">
								Generate Analytics
							</button>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="panel-footer">
			{% if user in users %}
			<div class="row">
				<div class="col-md-6">
					<form method="get" action={% url 'edit_sprint' sprint.id %}>
						<button class="btn btn-sm btn-primary" type="submit">
							Edit Sprint
						</button>
					</form>
				</div>
				<div class="col-md-6">
					<div class="pull-right">
						<form method="get" action={% url 'delete_sprint' sprint.id %}>
							<button class="btn btn-sm btn-danger" type="submit">
								Delete Sprint
							</button>
						</form>
					</div>
				</div>
			</div>
			{% endif %}					
		</div>
	</div>
	{% if upcoming_tasks %}
	<h1>Upcoming tasks in this Sprint:</h1>
	{% for task in upcoming_tasks%}
		<div class="well well-lg">
			<a href={% url 'view_task' task.id %}> 
				{{task.name}} 
			</a>
			<p>{{task.description}}
		</div>
	{% endfor %}
	{% else %}
	<h3><em>No upcoming tasks for this sprint.</em></h3>
	{% endif %}

	<hr>
	{% if completed_tasks %}
	<h1>Completed tasks in this Sprint:</h1>
	{% for t in completed_tasks%}
		<div class="well well-lg">
			<a href={% url 'view_task' t.id %}> 
				{{t.name}} 
			</a>
			<p>{{t.description}}
		</div>
	{% endfor %}
	{% else %}
	<h3><em>No completed tasks yet.</em></h3>
	{% endif %}

</div>
{% endblock %}