{% extends "agility/base.html" %}

{% block content %}
	<div class="container">
		<h1>View Sprint</h1>
			<div class="panel panel-default">
				<div class="panel-heading">{{sprint.project.name}} Sprint
					<div class="pull-right">
						<form method="get" action={% url 'create_task' %}>
							<button class="btn btn-xs btn-success" type="submit">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Task
							</button>
						</form>
					</div>
				</div>

				<div class="panel-body">
					Starting: {{sprint.start_date}}, ending: {{sprint.end_date}}
				</div>
			</div>
		<h1>Tasks in this Sprint:</h1>
		{% for task in tasks%}
			<div class="well well-lg">
				<a href={% url 'view_task' task.id %}> 
					Task: {{task.name}} 
				</a>
				<p>{{task.description}}
			</div>
		{% endfor %}
	</div>
{% endblock %}